.footer{
    background-color: #0d6efd;
    position: absolute;
    width: 100%;
    height: 60px;
}
.footer-para{
    text-align: center;
    margin: 17px auto;
    color: #fff;
    padding: 0px 10px;
}