body{
    font-family: "Open Sans", sans-serif;
    max-width: 100%;
}
.card-col{
    margin: 10px 0px;
    text-align: -webkit-center;
}
.para-text{
    color: black;
    text-align: center;
    font-family: cursive;
    width: 120px;
}
.download-pdf-btn {
    margin: 0px 280px;
    text-align: center;
    height: 35px;
    width: 160px;
}
.resume-img{
    height: 370px;
}
h6{
    padding: 0px 22px;
    text-align: center;
}
.scroll-bar{
    overflow-y: scroll;
    height: 600px;
}
@media (min-width:767px) and (max-width:1180px) {
    .template-img{
        margin: 0px -110px;
    }
    h3{
        margin-top: 140px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .template-img{
        margin: 0px auto;
    }
    h3{
        margin-top: 140px;
    } 
  }